ion-grid {
   // --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color:  #cb033c;
      //font-weight: bold;
      text-align: center;
      color:#fff
    }
    ion-col {
    //  border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
   // ion-col:last-child {
     // border-right: 1px solid black;
    //}
    
   // ion-row:last-child {
    //  border-bottom: 1px solid black;
   // }
  }

  ion-content{
    --ion-background-color: #f2f2f2;
  }