<h1 mat-dialog-title>{{mensaje}}</h1>
<!--<div mat-dialog-content>
    <p>Do not forget to take a look at our offers of the week:</p>
    <button mat-flat-button class= "deals" (click)="view()" style="color:#000" >Deals of de week</button>
</div><br>-->
<p class="precio1"><span style="color:#fff;">Price</span> {{precio_yarda}}</p>
<div mat-dialog-actions1>    
  
<button mat-flat-button  class= "tobook1"  (click)="yarda()">Booking in our site</button>
   
</div><br>
<p class="precio2"><span style="color:#fff;">Price</span> {{precio_mobil}}</p>
<div mat-dialog-actions2>
 
  <button mat-flat-button class= "tobook2"  (click)="mobil()" cdkFocusInitial >Mobil's bookings</button>
</div>
<br>
<div mat-dialog-actions3>
 
  <button mat-flat-button color="primary" class= "tobook" (click)="cancel()" >Cancel</button>
</div>
