::ng-deep .mat-dialog-container {

    background: #2E4F9C !important;
}

.tobook {
    width: 100%;
    
}
.deals {
    width: 100%;
    background-color: #0efa49 !important;
}

.precio {
    margin:unset;
    text-align:center;
    color:#0efa49
}