::ng-deep .mat-dialog-container {

    background: #cb033c !important;
}

.tobook {
    width: 100%;
    background-color: #142f5f !important;
}

.deals {
    width: 100%;
    background-color: #0efa49 !important;
}

.precio {
    margin:unset;
    text-align:center;
    color:#0efa49
}