::ng-deep .mat-dialog-container {

    background: #2E4F9C !important;
}



.tobook {
    width: 100%;
  background-color: #2dd36f;
}

.tobook1 {
    width: 100%;
  background-color: #2dd36f;
    color: black;
}



.tobook2 {
    width: 100%;
   background-color: #ffc409;
  color: black; 
}


.deals {
    width: 100%;
    background-color: #0efa49 !important;
}

.precio1 {
    margin:unset;
    text-align:center;
    color:#0efa49
}

.precio2 {
    margin:unset;
    text-align:center;
    color:#ffc409;
}
