.addcar {
    background-color: #2E4F9C !important; 
    border-radius:  unset !important;
    box-shadow: none;
   }
  
   ion-content{
    --ion-background-color:#2E4F9C;
  }
  
  .addcar-continuar {
  background-color: #cb033c;
  width: 100%
  }
  
  .addcar-cancel {
  background-color: #142f5f;
  width: 100%
  }