<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-logo"></div>
  <div style="text-align: center;
   color: #ca083f;
    font-weight: bolder;
     font-size: larger;
      margin-top: -23px;
  font-style: oblique;">Customers</div>
    <div style="text-align: center;
    color: #fff;  
      font-size: x-small;  
   font-style: oblique;">with the usual care!</div>
  <div style="text-align: center; font-weight: bolder; color:#f2f2f2">1.0.0</div>
  <form [formGroup]="form_login" (ngSubmit)="submit()" novalidate>
    <ion-item lines="full" class="platino">
      <ion-label  position="floating" class="platino">Email</ion-label>
      
      <ion-icon name="mail" color="light" slot="end"></ion-icon>
      <ion-input   color="light" placeholder="Email" formControlName="email" type="email" required></ion-input>
     
    </ion-item>
    



    <ion-item lines="full" >
      <ion-label position="floating" class="platino">Password</ion-label>
      <ion-icon name="lock-closed" color="light" slot="end"></ion-icon>
     
      <ion-input color="light" placeholder="Password" formControlName="password" type="password" required></ion-input>
    </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  type="submit" color="primary" expand="block" >LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
<ion-grid>
  <ion-row>
    <ion-col>

      
      <ion-button  color="primary" expand="block" (click) = "resetpassword()" >FORGOT YOUR PASSWORD</ion-button>
    </ion-col>
  </ion-row>

 

  <!--<ion-row>
    <ion-col>
      <ion-button   color="primary" expand="block" (click) = "logingoogle()" >Sign in by Gmail</ion-button>
    </ion-col>
  </ion-row>--> 

<ion-row>
    <ion-col>
      <div class="separador">Don't have an account?</div>    
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button   color="primary" expand="block" (click) = "registro()" >Sing up an account</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>

