<ion-header>
  <ion-toolbar  color="primary">

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-list>

    <ion-item  routerLink="/tabs-cliente/profile/account">
      <ion-label floating ion-left>
        <ion-icon name="person" item-start class="text-primary" class ="figura"></ion-icon>          
        DATA ACCOUNT       
      </ion-label>  
    </ion-item>

    <ion-item  routerLink="/tabs-cliente/profile/billaddress">
      <ion-label  floating ion-left> 
        <ion-icon name="id-card" item-start class="text-primary" class ="figura"></ion-icon>       
        BILLING ADDRESS       
      </ion-label>  
    </ion-item>

    <ion-item  routerLink="/tabs-cliente/profile/locations">      
      <ion-label  floating ion-left> 
        <ion-icon name="location" item-start class="text-primary" class ="figura"></ion-icon>       
        YOUR LOCATIONS       
      </ion-label>  
    </ion-item>

    <ion-item  routerLink="/tabs-cliente/profile/fleet">
      <ion-label  floating ion-left>
        <ion-icon name="car" item-start class="text-primary" class ="figura"></ion-icon>     
        YOUR FLEET OF VEHICLES      
      </ion-label>  
    </ion-item>
  
  </ion-list> 


  
</ion-content>
