.app-logo{
  background-image: url(https://washtt.com/side-menu-logo.png);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  //border-radius: 320px;
  background-position: center;
  background-size: contain;
  //background-color: #e3f8ff;
  margin: 20px auto;
}

.data-perfil {
  background-color: #cb033c;
padding: 10px;
}
.perfilnombre {
  margin: unset;
  color:#fff;
  font-size: 22px;
font-weight: 700;

}

.perfilcorreo {
  margin: unset;
  color:#fff;

}