.app-logo{
  background-image: url(https://washtt.com/side-menu-logo.png);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  //border-radius: 320px;
  background-position: center;
  background-size: contain;

  margin: 20px auto;
}

.data-perfil {
  background-color: #CA083F;
padding: 10px;
}
.perfilnombre {
  margin: unset;
  color:#f2f2f2;
  font-size: 22px;
font-weight: 700;

}

.perfilcorreo {
  margin: unset;
  color:#fff;

}



::ng-deep ion-content{
  --ion-background-color:#fff;
}



