<ion-split-pane contentId="main-content">

  <ion-menu contentId="main-content" type="overlay" >

    <ion-content >
<div class="app-logo"></div>
<div style="text-align: center;
   color: #fff;
    font-weight: bolder;
     font-size: xx-large;
      margin-top: -23px;
  font-style: oblique;">Express</div>
  <div style="text-align: center;
  color: #fff;  
    font-size: x-small;  
 font-style: oblique;">with the usual care!</div>
      <ion-list id="inbox-list">
        <div class="data-perfil">
          <p class="perfilnombre">{{cliente_name}}</p>
          <p class="perfilcorreo">{{cliente_correo}}</p>      
      </div>

        <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
          <ion-item color="secondary" (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" lines="none"
            detail="false" [class.selected]="activeIndex == i">
            <ion-icon slot="start" [ios]="pages.icon + '-outline'" [md]="pages.icon + '-sharp'"></ion-icon>
            <ion-label>{{ pages.title }}</ion-label>
          </ion-item>         
        </ion-menu-toggle>
  
        <!--<ion-menu-toggle >
          <ion-item color="secondary"   lines="none"  href="https://washtt.com/common-questions" target ="_Blank">
            <ion-icon slot="start" [name]="'help-buoy'"></ion-icon>
            <ion-label>
             Help
            </ion-label>
          </ion-item>
        </ion-menu-toggle> 

        <ion-menu-toggle >
          <ion-item color="secondary"   lines="none"  href="https://www.washtt.com/contactus" target ="_Blank">
            <ion-icon slot="start" [name]="'mail-outline'"></ion-icon>
            <ion-label>
              Contact us
            </ion-label>
          </ion-item>
        </ion-menu-toggle>-->

        



    <ion-menu-toggle *ngIf="autenticacion_tipo === 'correo_pass'">
        <ion-item color="secondary" (click) ="salida_regular()"  lines="none"  >
          <ion-icon slot="start" [name]="'power'"></ion-icon>
          <ion-label>
           Sign out
          </ion-label>
        </ion-item>
      </ion-menu-toggle> 

      
      <ion-menu-toggle *ngIf="autenticacion_tipo === 'google'">
        <ion-item color="secondary" (click) =" salida_google()"  lines="none"  >
          <ion-icon slot="start" [name]="'power'"></ion-icon>
          <ion-label>
           Sign out
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>






 



 


