<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>To Book</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-icon name="information-circle" slot='start' color="danger"></ion-icon>
    <ion-title size="small" style="color:#ffffff">This location will be used within your billing</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<mat-card class="site">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="form_site" [formGroup]="form_site" >
    <mat-form-field>
      <input matInput placeholder="Suite" class="form-control" type="text"   formControlName="suite">
      <mat-error *ngIf="(form_site.get('suite').hasError('required') && form_site.get('suite').touched)">Suite is required</mat-error>
       
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Street No." class="form-control" type="text"  formControlName="street">
      <mat-error *ngIf="(form_site.get('street').hasError('required') && form_site.get('street').touched)">Street No. is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Address" class="form-control" type="text" formControlName="address"></textarea>
      <mat-error *ngIf="(form_site.get('address').hasError('required') && form_site.get('address').touched)">Address  is required</mat-error>
    </mat-form-field>
    <br> <mat-form-field>
      <input matInput placeholder="Postal Code" class="form-control" type="text" formControlName="zip">
      <mat-error *ngIf="(form_site.get('zip').hasError('required') && form_site.get('zip').touched)">Postal code is required</mat-error>
    </mat-form-field>
    <br> 
   <mat-form-field>
      <mat-select placeholder="State"  formControlName="state"  >
        <mat-option  [value]="" >
          Select
        </mat-option>
          <mat-option *ngFor="let estado of estados"  [value]="estado.estado" >
            {{estado.estado}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="(form_site.get('state').hasError('required') && form_site.get('state').touched)">State telephone is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="City"  formControlName="city"  >
        <mat-option  [value]="" >
          Select
        </mat-option>
          <mat-option *ngFor="let city of cities"  [value]="city.city" >
            {{city.city}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="(form_site.get('city').hasError('required') && form_site.get('city').touched)">City is required</mat-error>
    </mat-form-field>
    <br>    
   
    </form>
   
    <button  mat-flat-button  (click)='submit_sitio()' class="site-continuar">Continue</button>
   
  </mat-card-content>
</mat-card>
</ion-content>
