<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Password recovery</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-icon name="information-circle" slot='start' color="primary"></ion-icon>
    <ion-title size="small" style="color:#f2f2f2">Enter the correct email associated with your account to receive a password recovery email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-logo"></div>

  <form [formGroup]="form_reset" (ngSubmit)="submit()" novalidate>

    <ion-item lines="full" class="lleno">
      <ion-label  position="floating" class="etiqueta">Email</ion-label>
      <ion-icon name="mail" color="light" slot="end"></ion-icon>
      <ion-input color="light" placeholder="email of your account" formControlName="email" type="email" required></ion-input>     
    </ion-item>

    <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  type="submit" color="primary" expand="block" >SEND</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>

  </form>
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button   color="primary" expand="block" (click) = "cancel()" >CANCEL</ion-button>
    </ion-col>
  </ion-row> 
</ion-grid>
</ion-content>
