.etiqueta {

    color: #fff;
}

ion-content{
    --ion-background-color:#cb033c;
}




.app-logo{
    background-image: url(https://washtt.com/app_logo_inicio.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    //border-radius: 320px;
    background-position: center;
    background-size: contain;
    //background-color: #e3f8ff;
    margin: 20px auto;
  }

  .lleno {
    --ion-item-background: #cb033c;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-border-color: #ffffff;
    }