::ng-deep .mat-toolbar.mat-primary {

    background: #cb033c !important;
}

::ng-deep .mat-drawer {

    background: #cb033c !important;    
}

::ng-deep tr.mat-header-row {

    background: #cb033c !important;  
}

::ng-deep .mat-table tbody {

    background: #142f5f !important;  
}

/*::ng-deep tr.example-element-row[_ngcontent-oou-c248]:not(.example-expanded-row):hover {

    background: #f5f5f557 !important;  
}*/

