.etiquetas {

    color:black
}

::ng-deep .mat-select-value {
    color: #cb033c !important;
}

.cancel {
    background-color: #cb033c !important;
    color: #fff;
    border-radius :5px;
}

.pen {
    color: #cb033c !important;
}