.add-sitio {

    background: #2E4F9C !important;
}

.sitio-continuar {
    width: 100%;
    background-color: #cb033c !important;
}

.sitio-cancel {
    width: 100%;
    background-color: #142f5f !important;
}