<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>To Book</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


<div style="background-color:#cb033c; color: #fff">
  <ion-button>     
    Please select
  </ion-button>
</div>
<ion-list>

<ion-item  *ngFor="let vehiculo of vehiculos" routerLink="/tabs-cliente/tobook/tipolavados/{{vehiculo.name}}/{{vehiculo.category_id}}">
  <ion-thumbnail slot="end">
    <img src="https://www.washtt.com/components/com_jshopping/files/img_categories/{{vehiculo.category_image}}" />
  </ion-thumbnail>  
  <ion-label>
      {{vehiculo.name}}
       </ion-label>
  </ion-item>
</ion-list>
</ion-content>

  
