<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Payout</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary"> 
    <ion-icon name="information-circle" slot='start' style="color:#f2f2f2"></ion-icon>
    <ion-title size="small" style="color:#f2f2f2">All payments are subject to a review stage before their appropriate approval.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: #f2f2f2;">


  

<form id="payment-form">
  <div id="billing">

   <div class="label">Service</div> 
    <input type="text" id="concept" name="concept" class="form-control" value ='{{servicio}}' readonly="" >

    

    <div class="label" >Price</div> 
    <input type="text" id="sub-total" name="sub-total" class="form-control" value ='{{precio_string}}' readonly=""> 
 
    

    <div class="label">Discount</div> 
    <input type="text" id="descuento" name="descuento" class="form-control" value ='{{descuento_string}}' readonly=""> 

<div style="text-align: center; color:#f2f2f2">Service charge</div>

    <div class="label">Monto</div> 
    <input type="text" id="charge" name="charge" class="form-control" value ='{{charge_string}}' readonly=""> 

    <div class="label">Concepto</div> 
    <input type="text" id="concepto" name="concepto" class="form-control" value ='{{concepto}}' readonly=""> 

    <div class="label">Total</div> 
    <input type="text" id="total" name="total" class="form-control" value ='{{total_string}}' readonly=""><br> 

    
    
    <div style="text-align: center; color:#f2f2f2"> Would you like to add a tip?</div>
    <div class="tip">Tip</div> 
    <input type="tel" id="tip" name="tip" class="form-control" value="" placeholder="Tip?"><br> 
    <!--<div style="text-align: center; color:#f2f2f2">Please fill in the payment information</div>-->
   
   
      <!--<input type="hidden" id="uid" name="uid"  value='{{uid}}'> 
      <input type="hidden" id="uemail" name="uemail"  value='{{uemail}}'> 
      <input type="hidden" id="n" name="n" value="0">-->
  </div><br>

 <div style="text-align:center">
    <img src="https://www.washtt.com/images/square-logo.png" alt="logo square">
    <div style="color:#f2f2f2"> <small>Powered by Square</small> </div> 
   </div> 

  <div id="card-container">
  
  </div>
  
<!--<ion-button id="card-button" (click) = "eventHandler()">
    <ion-icon slot="start" name="star"></ion-icon>
   To pay
  </ion-button>-->
  <ion-row>
    <ion-col>
      <ion-button   color="primary" expand="block" (click) = "eventHandler()" >To pay</ion-button>
    </ion-col>
  </ion-row>
</form>
<div id="payment-status-container"></div>
<ion-row>
  <ion-col>
    <ion-button   color="primary" expand="block" (click) = "cancelar()" >Cancel</ion-button>
  </ion-col>
</ion-row>

</ion-content>
