#billing {
    color: black;
}

.label {
    text-align: center;
}

.form-control {
    width: 100%;
text-align: center;
background-color: #f2f2f2 !important ;
}

#payment-status-container {
    text-align: center;  
    color: #f2f2f2
}

.label {
    background-color: #2E4F9C ;
    color: #f2f2f2
}

.tip {
    background-color: #30be04 ;
    color: #142f5f;
    text-align: center;
}