<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>To Book</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="background-color:#cb033c; color: #fff"> 
  <ion-button (click) = "goBack()">
    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>  
    Select cleaning of
  </ion-button>
  </div>

<ion-list>

  <ion-item *ngFor="let lavado of lavados" routerLink="/tabs-cliente/tobook/tiposervicios/{{vehiculo}}/{{lavado.name}}/{{lavado.category_id}}">
    <ion-thumbnail slot="start">
      <img src="https://www.washtt.com/components/com_jshopping/files/img_categories/{{lavado.category_image}}" />
    </ion-thumbnail> 
    <ion-label>
      {{lavado.name}}
    </ion-label>
    
  </ion-item>

</ion-list>
</ion-content>

