#billing {
    color: black;
}

.label {
    text-align: center;
}

.form-control {
    width: 100%;
text-align: center;
}

#payment-status-container {
    text-align: center;  
}

.label {
    background-color: #cb033c ;
    color: #fff
}

.tip {
    background-color: #30be04 ;
    color: #142f5f;
    text-align: center;
}

