<h1 mat-dialog-title>Add a new vehicle to your fleet</h1>
<mat-dialog-content [formGroup]="form_truck" class="add-vehiculo">    
      <mat-form-field>
        <mat-select placeholder="Vehicle type"  formControlName="vehicletypes"  >
          <mat-option   [value]="" >
            Select
          </mat-option>
            <mat-option *ngFor="let vehicletype of vehicletypes"  [value]="vehicletype.vehiculo" >
              {{vehicletype.vehiculo}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="(form_truck.get('vehicletypes').hasError('required') && form_truck.get('vehicletypes').touched)">Vehicle type is required</mat-error>      
      </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Model" class="form-control" type="text"   formControlName="model">
      <mat-error *ngIf="(form_truck.get('model').hasError('required') && form_truck.get('model').touched)">Model is required</mat-error>         
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Mark" class="form-control" type="text"  formControlName="mark">
      <mat-error *ngIf="(form_truck.get('mark').hasError('required') && form_truck.get('mark').touched)">Mark is required</mat-error> 
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Color" class="form-control" type="text" formControlName="color">
      <mat-error *ngIf="(form_truck.get('color').hasError('required') && form_truck.get('color').touched)">Color is required</mat-error> 
    </mat-form-field>
    <br>

     <mat-form-field>
      <input matInput placeholder="Vehicle license plate" class="form-control" type="text" formControlName="licenseplate">
      <mat-error *ngIf="(form_truck.get('licenseplate').hasError('required') && form_truck.get('licenseplate').touched)">Vehicle license plate is required</mat-error> 
    </mat-form-field>
    <br> 

    <mat-form-field>
      <input matInput placeholder="Unit number" class="form-control" type="text" formControlName="unitnumber">
      <mat-error *ngIf="(form_truck.get('unitnumber').hasError('required') && form_truck.get('unitnumber').touched)">Unit number is required</mat-error> 
    </mat-form-field>
    
    <mat-form-field>
      <mat-select placeholder="Vehicle appearance"  formControlName="detail"  >
        
        <mat-option *ngFor="let tipodetalle of tipodetalles"  [value]="tipodetalle.valor" >
          {{tipodetalle.etiqueta}}
        </mat-option>
          
        </mat-select>
        <mat-error *ngIf="(form_truck.get('detail').hasError('required') && form_truck.get('detail').touched)">Vehicle appearance is required</mat-error> 
    </mat-form-field>   
  
    <div mat-dialog-actions1>
      <button  mat-flat-button  class="add-continuar" (click) = "enviar()">Add</button>
    </div><br>
    <div mat-dialog-actions2>
      <button  mat-flat-button  class="add-cancel" (click) = "cancel()" cdkFocusInitial>Cancel</button> 
    </div>        

</mat-dialog-content>



