.add-vehiculo {

    background: #cea907 !important;
}

.add-continuar {
    width: 100%;
    background-color: #cb033c;
}

.add-cancel {

    background-color: #142f5f !important;
    width: 100%;
}


::ng-deep .mat-select-panel {

    background-color: #142f5f !important;
  
    margin-left: 40px;
  }


