::ng-deep .mat-datepicker-content .mat-calendar {
    width: 200px !important;
    height: 280px !important;
}

 .mobil {
   
    border-radius:  unset !important;
    box-shadow: none;
    background-color:#2E4F9C !important;
   }



.mobil-continuar {
  
width: 100%
}

.mobil-cancel {
  
width: 100%
}

::ng-deep .mat-select-panel {

  background-color: #2E4F9C !important;

  margin-left: 40px;
}

::ng-deep ion-content{
  --ion-background-color:#2E4F9C;
}

